/* NAVBAR */

::-webkit-scrollbar{
    background-color: transparent;
}


::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, rgb(255, 109, 109), black);
}

#layout-menu{
    position: fixed;
}

.layout-content-navbar{
    padding-left: 10%;
}

.bi.bi-person-circle{
    position: fixed;
    width: 50px;
    top: 10px;
    right: 10px;
    color: red;
}

.alinhaLogin{
    position:fixed;
    margin-left: 500px;
}
