/* NAVBAR */

::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}

.d-flex.w-100.avatar.ml-2.mt-2.mb-2{
    display: flex;
    align-items: center;
    
}

/* .card.h-100:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
} */

.comment-button{
    border: none;
    padding: 0px;
}

.input-group{
    display: block;
    width: 98% !important;
    margin: auto;
}


.carrossel-container-card>h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-transform: uppercase;
}

.justify-content-space-between{
    display: flex !important;
    width:  !important;
    align-items: center;
    justify-content: space-between !important;
}

.coments-group{
    height: fit-content;
}

.cadastro-login{
    display: flex;
    justify-content: space-between;
}

.container-cadastro-login{
    padding: 0px;
    margin: 10px 0px;
}

.wrap{
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.container-cadastro-login p{
    margin: 10px 0px !important;
}

.menu-top{
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 10px 0px 0px 0px;
}

.None{
    display: none;
}

.carrossel-div{
    position: relative;
    height: 230px;
    width: 95%;
    margin: auto;

}

.menu-top>button{
    font-size: 15px;
    margin: 0px 3px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0px 0px 10px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.501);
    background-color: rgba(255, 95, 95, 0.404);
}

.menu-top>button.desactivate{
    background-color: rgba(146, 146, 146, 0.404);
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top, rgb(255, 175, 175), rgb(255, 239, 239));
}

#layout-menu{
    position: fixed;
}


.w-45{
    width: 45%;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}

.flex-column{
    margin: 10px;
}
.abv-mat{
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.274);
    width:fit-content;
    font-weight: bold;
    padding:5px;
    margin-right: 10px;
}

.btn-flex-between{
    display: flex;
    justify-content: space-between;
}

.grupo-botao-login{
    display: flex;
    justify-content: center;
}

.opcao{
    display: flex;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    justify-content: center;
}

.botao{
    background-color: white !important;
    border-radius: 0px 0px 25px 25px !important;
    margin: 10px;
}

.botao:hover{
    color: red;
}

.cadastro{
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 1%;
}

.cadastro h1{
    text-align: center;
    
}

.filtro{
    display: flex;
    justify-content: end;
    padding: 20px 0px;
}

.login{
    max-width: 400px;
}

.flex-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* POSTS */
input[type=file]{
    display:none;
}

.posts{
    margin-top: 10px;
}

.postArquivo{
    background-color: white;
    width: 100%;
    border-radius: 5px !important;
    height: 40px;
}

.perfil{
    width: 200px;
    height:200px;
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}

.formPerfil{
    margin: 3% 0 0 0;
    padding: 0;
}

.ajustePerfil{
    width: 100% !important;
}

.none{
    display: none;
}

a:hover{
    color: rgb(124, 22, 22) !important;
}

.chart{
    width:50%;
}

.chart2{
    width:50%;
}

.chart3{
    width: 50%;
}

#dashboard{
    display: flex;
    width:100%;
    margin: 20px;
}

.comunicado{
    border-radius: 10px;
    background-color: white !important;
    margin: 20px 0px;
    padding: 20px;
}

.comunicado>h1{
    color: rgb(124, 22, 22) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.com-1-flex{
    display: flex;
    justify-content: space-between;
}

.com-1{
    padding: 25px;
    background-color: rgba(218, 218, 218, 0.322);
}

a.col-md-6.col-lg-4.mb-3{
    text-decoration: none;
}