{% extends 'principal.html'%}
{%block conteudo %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="filtro">
    <!-- Example split danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem!</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem!</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem!</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem!</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">PWBE</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Programação Web Back-End</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem!</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column">
              <p class="abv-mat">IDM</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Interface para Dispositivos Móveis</h5>
              <h6 class="card-subtitle text-muted">Turma MDSI25</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem!</p>
          <a href="javascript:void(0);" class="card-link">Posts</a>
          <a href="javascript:void(0);" class="card-link">Tarefas</a>
        </div>
      </div>
    </div>
  </div>
  {%endblock %}