{% extends 'principal.html'%}
{%block conteudo %}
<!-- Content -->
<div class="filtro">
    <input id = 'date' class="btn" style="width: 60px;" type="date" name="data-filtro" id="data-filtro">
   
</div>

<div class="flex-row">
    <div class="flex-column">
        <div class="card h-100 w-100">
            <div class="card-body">
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="abv-mat">BD</p>
                    </div>
                    <div class="flex-column">
                        <h5 class="card-title">Ailton Adamilton Hamilton</h5>
                        <h6 class="card-subtitle text-muted">25/10/2022</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Exercício de Modelagem de Dados 2</h5>
                <p class="card-text text-justify">Um berçário deseja informatizar suas operações. Quando um bebê nasce, algumas informações são armazenadas sobre ele, tais como: nome, data do nascimento, peso do nascimento, altura, a mãe deste bebê e o médico que fez seu parto. Para as mães, o berçário também deseja manter um controle, guardando informações como: nome, endereço, telefone e data de nascimento. Para os médicos, é importante saber: CRM, nome, telefone celular e especialidade
                </p>
            </div>
        </div>
    </div>
    <div class="flex-column">
        <div class="card h-100 w-100">
            <div class="card-body">
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="abv-mat">{{materia}}</p>
                    </div>
                    <div class="flex-column">
                        <h5 class="card-title">{{professor}}</h5>
                        <h6 class="card-subtitle text-muted">{{data_entrega}}</h6>                     
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>{{titulo-atv}}</h5>
                <p class="card-text text-justify">{{conteudo-atv}}</p>
            </div>            
        </div>
    </div>
</div>


<script>
    console.log('aaaaaa')
    let dateControl = document.getElementById('date');
    console.log(dateControl.value)
</script>
{%endblock %}