{% extends 'principal.html'%} {%block conteudo %}
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}" />
<style>
  .chat {
    display: flex;
    flex-direction: column;
  }

  .chat span {
    margin-bottom: 10px;
  }

  form {
    margin-top: 10px;
  }
</style>
<div class="container" style="margin-top: 1%">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          {% for nomeContato in range(y) %}
          <ul class="list-unstyled chat-list mt-2 mb-0">
            <li class="clearfix">
              <div hidden=true>{{nif[nomeContato]}}</div>
              <img width="40px" height="40px" {{url_foto}} alt="perfil" />
              <div class="about">
                <div class="nameChat">{{nome[nomeContato]}}</div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> left 7 mins ago
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}
        </div>
        <script>
          function nome(param){
            let divs = document.getElementsByClassName('div-nome')
            let div = document.getElementById(param)
            let nome_chat = document.getElementById('nome-chat')

            nome_chat.textContent = param

            for(let i = 0; i < divs.length; i++){
              divs[i].className = 'clearfix desactive div-nome chat'
            }

            div.className = 'clearfix active div-nome chat'
          }
        </script>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <div class="chat-about">
                  <h6 class="m-2" id="nome-chat">Mayara Ferreira</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history">
            <ul class="m-b-0">
              <li class="clearfix">
                <div class="message other-message float-right">
                  Hi Aiden, how are you? How is the project coming along?
                </div>
              </li>
                <div class="message my-message m-2">Are we meeting today?</div>
              </li>
            </ul>
          </div>
          <form action="{{url_for('chat')}}" method="POST">
            <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <!--<span class="input-group-text"><i class="fa fa-send"></i></span>-->
                  <button type="submit" class="input-group-text">Enviar</button>
                </div>
                <!--<input type="text" class="form-control" placeholder="Enter text here..."> -->
                <input
                  class="form-control"
                  type="text"
                  placeholder="Mensagem"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="chat"></div>
<div></div>

<script
  src="https://cdn.socket.io/4.5.4/socket.io.min.js"
  integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
  crossorigin="anonymous"
></script>
<script>
  window.onload = function () {
    const socket = io("http://127.0.0.1:5000");

    socket.on("connect", () => {
      socket.send("Usuario conectado ao socket!");
    });

    const form = document.querySelector("form").addEventListener("submit", function (event) {
        event.preventDefault();

        socket.emit("sendMessage", {name: event.target[0].value,message: event.target[1].value,
        });
        event.target[0].value = "";
        event.target[1].value = "";
      });

    socket.on("getMessage", (msg) => {
      const span = document.createElement("div");
      const chat = document.querySelector(".chat-history");
      span.innerHTML = `<div class="message other-message float-right">${msg.message}</div>`;
      chat.append(span);
    });
  };
</script>
{%endblock %}
