{% extends 'principal.html'%}
{%block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <canvas width="100"  id="myChart" class="charts"></canvas>
    <canvas width="100"  id="myChart2"></canvas>
    <canvas width="100"  id="myChart3"></canvas>
    <canvas width="100" height="100"id="myChart4"></canvas>


<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{%endblock %}