{% extends 'principal.html'%}
{%block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<section id="dashboard">
    <div class="chart">
        <canvas id="myChart" class="charts"></canvas>
        
    </div>
    <div class="chart">
        <canvas id="myChart2"></canvas>
    </div>
</section>

<section id="dashboard">
<div class="chart2">
    <canvas id="myChart3"></canvas>
</div>
<div class="chart3">
    <canvas width="100" height="100"id="myChart4"></canvas>
</div>
</section>

<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{%endblock %}