<!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->
        <script src="{{url_for('static', filename='scripts/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/bootstrap.js.map')}}"></script>
        <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/dashboards-analytics.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/ui-modals.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/ui-popover.js')}}"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{url_for('static', filename='scripts/config.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/menu.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
    </body>
</html>