{% extends 'principal.html'%}
{%block conteudo %}
<!-- Content -->
<div class="comunicado">
  <h1>COMUNICADOS</h1>
  
    <div class="com-1">
      <div class="com-1-flex">
        <h3>Comunicado sobre feriadão Dia da Criança e do Professor</h3>
        <h5>09/10/22</h5>
      </div>
      <p>O feriado em comemoração ao Dia do Professor foi antecipado do dia 15 de outubro para 13 de outubro (terça-feira). Portanto, segunda-feira (12/10) e terça-feira (13 /10) não haverá aula. Retornaremos às atividades normais na quarta-feira, dia 14/10.
        Ótimo feriadão a todos! Bom descanso!</p>
      </div>
    
      <div class="com-1">
        <div class="com-1-flex">
          <h3>Jornada de Transformação Digital</h3>
          <h5>09/10/22</h5>
        </div>
        <p>FIESP, CIESP, SENAI-SP e SEBRAE-SP unem forças para fazer o maior programa de transformação digital da história de São Paulo. Com capacidade para atender 40 mil micro, pequenas e médias indústrias, a Jornada de Transformação Digital vai atender empresas de todos os segmentos industriais, com diferentes níveis de maturidade tecnológica, em oito etapas de consultoria e treinamento.</p>
      </div>
    
      <div class="com-1">
        <div class="com-1-flex">
          <h3>Comunicado Importante!</h3>
          <h5>09/10/20</h5>
        </div>
        <p>Gostaríamos de agradecer a compreensão de todos neste atual cenário de Pandemia causada pela COVID-19. O SENAI-SP suspendeu temporariamente as atividades em prol da saúde e segurança de todos nós. Esperamos que essa ação tenha surtido efeito e que todos estejam bem. Agora, é tempo de nos unirmos, mesmo que a distância.
          O SENAI-SP vem investindo em tecnologias educacionais nos últimos anos e, no início deste semestre, os nossos professores intensificaram o uso de algumas ferramentas online, como questionários e simuladores, nas aulas presenciais e em algumas tarefas para os alunos.</p>
        </div>
</div>
    
    <div class="row mb-5">

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/idm">
          <div class="card h-100">
            <div class="card-body">
              <div class="flex-row">
                <div class="flex-column w-100">
                  <p class="abv-mat">IDM</p>
                </div>
                <div class="flex-column">
                  <h5 class="card-title">Interface para Dispositivos Móveis</h5>
                  <h6 class="card-subtitle text-muted">3° Termo</h6>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
        
            </div>
          </div>
      </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/pwbe">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">PWBE</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Programação Web Back-End</h5>
                <h6 class="card-subtitle text-muted">3° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
            
          </div>
        </div>
      </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/pwfe">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">PWFE</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Programação Web Front-End</h5>
                <h6 class="card-subtitle text-muted">3° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
            
          </div>
        </div>
      </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefaAcervo">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">SISO</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Sistemas Operacionais</h5>
                <h6 class="card-subtitle text-muted">2° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
            
          </div>
        </div>
      </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefaAcervo">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">LMAR</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Linguagem de Marcação</h5>
                <h6 class="card-subtitle text-muted">2° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
            
          </div>
        </div>
      </a>
      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefaAcervo">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">FPOO</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Fundamentos da Programação Orientada a Objetos</h5>
                <h6 class="card-subtitle text-muted">2° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
            
          </div>
        </div>
      </a>
      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefaAcervo">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">LALG</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Lógica e Algoritmo</h5>
                <h6 class="card-subtitle text-muted">1° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
            
          </div>
        </div>
      </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefaAcervo/HDWR">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">HDWR</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Hardware e Redes</h5>
                <h6 class="card-subtitle text-muted">1° Termo</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime rerum doloremque distinctio dolorum mollitia, ab, accusantium quam ad praesentium, aliquam doloribus eaque repellat voluptas fugit. Incidunt fugiat obcaecati expedita rem! lore</p>
          </div>
        </div>
      </div>
    </a>
    {%endblock %}