{% extends 'principal.html'%}
{%block conteudo %}
<!-- Content -->
<div class="filtro">
    <input class="btn" style="width: 60px;" type="date" name="data-filtro" id="data-filtro">
</div>
<div class="flex-row">
    <div class="flex-column">
        <div class="card h-100 w-100">
            <div class="card-body">
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="abv-mat">BD</p>
                    </div>
                    <div class="flex-column">
                        <h5 class="card-title">Ailton Adamilton Hamilton</h5>
                        <h6 class="card-subtitle text-muted">25/10/2022</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Exercício de Modelagem de Dados 2</h5>
                <p class="card-text text-justify">Um berçário deseja informatizar suas operações. Quando um bebê nasce, algumas informações são armazenadas sobre ele, tais como: nome, data do nascimento, peso do nascimento, altura, a mãe deste bebê e o médico que fez seu parto. Para as mães, o berçário também deseja manter um controle, guardando informações como: nome, endereço, telefone e data de nascimento. Para os médicos, é importante saber: CRM, nome, telefone celular e especialidade
                </p>
            </div>
        </div>
    </div>
    <div class="flex-column">
        <div class="card h-100 w-100">
            <div class="card-body">
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="abv-mat">BD</p>
                    </div>
                    <div class="flex-column">
                        <h5 class="card-title">Ailton Adamilton Hamilton</h5>
                        <h6 class="card-subtitle text-muted">25/10/2022</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Exercício de Modelagem de Dados 1</h5>
                <p class="card-text text-justify">Uma floricultura deseja informatizar suas operações. Inicialmente, deseja manter um cadastro de todos os seus clientes, mantendo informações como: RG, nome, telefone e endereço. Deseja também manter um cadastro contendo informações sobre os produtos que vende, tais como: nome do produto, tipo (flor, vaso, planta,...), preço e quantidade em estoque. Quando um cliente faz uma compra, a mesma é armazenada, mantendo informação sobre o cliente que fez a compra, a data da compra, o valor total e os produtos comprados</p>
            </div>
        </div>
    </div>
</div>
{%endblock %}