{% extends 'principal.html'%}
{%block conteudo %}
<style>
    #carrossel {
        position: absolute;
        margin-top: 10px;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    
    #container {
        position: absolute;
        width: auto;
        padding: 0px 30px;
        height: 100%;
        display: inline-flex;
        transition: 0.6s ease-in-out;
    }
    
    #container> #item {
        position: relative;
        margin: 0 7px;
        width: 150px;
        height: 100%;
        z-index: 2;
    }
    
    #container #item img {
        width: 100%;
        height: 100%;
    }
    
    #btnleft {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        opacity: 0.3;
        cursor: pointer;
        z-index: 3;
    }
    
    #btnright {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        opacity: 0.3;
        cursor: pointer;
        z-index: 3;
    }
    
    #container #limitador {
        position: absolute;
        margin: 0 7px;
        width: 150px;
        height: 100%;
        opacity: 0;
        right: 0;
        z-index: 1;
    }
</style>
<!-- Content -->
<div class="menu-top">
    <button onclick="Tarefas()" class="activate" id="Tarefa">
        Tarefas
    </button>
    <button onclick="Acervo()" class="desactivate" id="Acervo">
        Acervo
    </button>
</div>
<div class="flex-row" id="tarefa">
    <div class="flex-column">
        <div class="card h-100 w-100">
            <div class="card-body">
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="abv-mat">BD</p>
                    </div>
                    <div class="flex-column">
                        <h5 class="card-title">Ailton Adamilton Hamilton</h5>
                        <h6 class="card-subtitle text-muted">25/10/2022</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Exercício de Modelagem de Dados 2</h5>
                <p class="card-text text-justify">Um berçário deseja informatizar suas operações. Quando um bebê nasce, algumas informações são armazenadas sobre ele, tais como: nome, data do nascimento, peso do nascimento, altura, a mãe deste bebê e o médico que fez seu parto. Para as mães, o berçário também deseja manter um controle, guardando informações como: nome, endereço, telefone e data de nascimento. Para os médicos, é importante saber: CRM, nome, telefone celular e especialidade
                </p>
            </div>
            <hr>
            <div class="coments-group p-2">
                <h2 class="m-2">Comentários</h2>
                <div class="d-flex w-100 wrap">
                    <div class="ml-2 mt-2">
                        <h6><span class="fw-semibold d-block">Manuel Gomes:</span></h6>
                        <p class="ml-2"> Professor, não entendi o que é uma instância de dados no slide 7!</p>
                    </div>
                    <div class="ml-2">
                        <h6><span class="fw-semibold d-block">Ailton:</span></h6>
                        <p class="ml-2"> Entre as principais funções da SGBD, estão: a lteração de estruturas de campos; edição de tabelas, eliminar e copiar dados; criar usuários e ter o controle de acessos; importação e exportação de bases de dados; e; criação de chaves primárias e externas. Ferramentas do SGBD. Existem inúmeros tipos de SGBD no mercado!</p>
                    </div>
                    <div class="ml-2">
                        <h6><span class="fw-semibold d-block">Manuel Gomes:</span></h6>
                        <p class="ml-2"> Ah entendi professor, obrigado!</p>
                    </div>
                </div>
            </div>
            <form action="" class="m-2">
                <input placeholder="Escreva o seu comentário..." type="text" class="form-control" id="usr">
            </form>
        </div>
    </div>
    <div class="flex-column">
        <div class="card h-100 w-100">
            <div class="card-body">
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="abv-mat">BD</p>
                    </div>
                    <div class="flex-column">
                        <h5 class="card-title">Ailton Adamilton Hamilton</h5>
                        <h6 class="card-subtitle text-muted">25/10/2022</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Exercício de Modelagem de Dados 1</h5>
                <p class="card-text text-justify">Uma floricultura deseja informatizar suas operações. Inicialmente, deseja manter um cadastro de todos os seus clientes, mantendo informações como: RG, nome, telefone e endereço. Deseja também manter um cadastro contendo informações sobre os produtos que vende, tais como: nome do produto, tipo (flor, vaso, planta,...), preço e quantidade em estoque. Quando um cliente faz uma compra, a mesma é armazenada, mantendo informação sobre o cliente que fez a compra, a data da compra, o valor total e os produtos comprados</p>
            </div>
            <hr>
            <div class="coments-group p-2">
                <h2 class="m-2">Comentários</h2>
                <div class="d-flex w-100 wrap">
                    <div class="ml-2 mt-2">
                        <h6><span class="fw-semibold d-block">Manuel Gomes:</span></h6>
                        <p class="ml-2"> Professor, não entendi o que é uma instância de dados no slide 7!</p>
                    </div>
                    <div class="ml-2">
                        <h6><span class="fw-semibold d-block">Ailton:</span></h6>
                        <p class="ml-2"> Entre as principais funções da SGBD, estão: a lteração de estruturas de campos; edição de tabelas, eliminar e copiar dados; criar usuários e ter o controle de acessos; importação e exportação de bases de dados; e; criação de chaves primárias e externas. Ferramentas do SGBD. Existem inúmeros tipos de SGBD no mercado!</p>
                    </div>
                    <div class="ml-2">
                        <h6><span class="fw-semibold d-block">Manuel Gomes:</span></h6>
                        <p class="ml-2"> Ah entendi professor, obrigado!</p>
                    </div>
                </div>
            </div>
            <form action="" class="m-2">
                <input placeholder="Escreva o seu comentário..." type="text" class="form-control" id="usr">
            </form>
        </div>
    </div>
</div>

<div class="None" id="acervo">
    <div class="flex-column w-100">
        <div class="card h-100 carrossel-container-card">
            <h1 class="m-3">Acervo</h1>
            <div class="row mb-5">
                
                <a class="col-md-2 col-lg-4" style="color: inherit;text-decoration: none;" href="#">
                    <div class="card h-100" style="box-shadow: none;">
                        <div class="card-body">
                            <div class="flex-row">
                                <div class="flex-column">
                                    <div class="justify-content-space-between">
                                        <span class="abv-mat">PPTX</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <h5 class="card-title">Slide aula de Banco de Dados</h5>
                                    <h6 class="card-subtitle text-muted">23.4 mb</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a class="col-md-2 col-lg-4" style="color: inherit;text-decoration: none;" href="#">
                    <div class="card h-100" style="box-shadow: none;">
                        <div class="card-body">
                            <div class="flex-row">
                                <div class="flex-column">
                                    <div class="justify-content-space-between">
                                        <span class="abv-mat">PPTX</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <h5 class="card-title">PDF sobre T-SQL</h5>
                                    <h6 class="card-subtitle text-muted">7.4 mb</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a class="col-md-2 col-lg-4" style="color: inherit;text-decoration: none;" href="#">
                    <div class="card h-100" style="box-shadow: none;">
                        <div class="card-body">
                            <div class="flex-row">
                                <div class="flex-column">
                                    <div class="justify-content-space-between">
                                        <span class="abv-mat">PPTX</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <h5 class="card-title">Slide sobre SGBD</h5>
                                    <h6 class="card-subtitle text-muted">43.4 mb</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <H4 style="margin-left:20px ;">Apostilas do Curso:</H4>
            <div class="carrossel-div">
                <div id='carrossel'>
                    <button type='button' id='btnleft'><</button>
                    <div id='container'>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='item'><img src="{{url_for('static', filename='vendor/img/senai-book.png')}}" /></div>
                        <div id='limitador'>Limitador</div>
                    </div>
                    <button type='button' id='btnright'>></button>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>

<script>
    //variaveis de contagem da direção
    
    var num = 150;
    var num2 = 150;
    
    //slide do botão direito
    
    var btnRight = document.getElementById('btnright');
    
    btnRight.addEventListener('click', () => {
        
        var limi = document.getElementById('limitador').getBoundingClientRect().left;
        
        var limit = Math.round(limi);
        
        var er = document.getElementById('btnright').getBoundingClientRect().left;
        
        var ref = Math.round(er);
        
        var slideContainer = document.getElementById('container');
        
        var carrossel = document.getElementById('carrossel');
        
        
        if (limit > ref) {
            
            slideContainer.style.transform = 'translateX(-' + num + 'px)';
            
            num = num + 150;
            
            num2 = num2 - 150;
            
        } else {
            
            var stoped = ref * slideContainer.clientWidth / carrossel.clientWidth - carrossel.clientWidth + 100;
            
            var stopedRound = Mtah.round(stoped);
            
            slideContainer.style.transform = 'translateX(-' + stopedRound + 'px)';
            
            
        }
        
        
    });
    
    
    //slide botão esquerdo
    
    var btnLeft = document.getElementById('btnleft');
    
    btnLeft.addEventListener('click', () => {
        
        
        var limi = document.getElementById('limitador').getBoundingClientRect().left;
        
        var limit = Math.round(limi);
        
        var er = document.getElementById('btnleft').getBoundingClientRect().left;
        
        var ref = Math.round(er);
        
        var slideContainer = document.getElementById('container');
        
        var carrossel = document.getElementById('carrsossel');
        
        var slide = slideContainer.getBoundingClientRect().left;
        
        if (slide < ref) {
            
            slideContainer.style.transform = 'translateX(' + num2 + 'px)';
            
            num = num - 150;
            num2 = num2 + 150;
            
        } else {
            
            slideContainer.style.transform = 'translateX(0)';
            
            num = 150;
            
        }
        
        
    });
</script>


<script>
    function Acervo(){
        let botaoAcervo = document.getElementById('Acervo');
        let botaoTarefa = document.getElementById('Tarefa');
        
        let Acervo = document.getElementById('acervo')
        let Tarefa = document.getElementById('tarefa')
        
        botaoAcervo.className = 'activate';
        botaoTarefa.className = 'desactivate';
        
        Acervo.className="flex-row"
        Tarefa.className="None"
    }
    
    function Tarefas(){
        let botaoAcervo = document.getElementById('Acervo');
        let botaoTarefa = document.getElementById('Tarefa');
        
        let Acervo = document.getElementById('acervo')
        let Tarefa = document.getElementById('tarefa')
        
        botaoAcervo.className = 'desactivate';
        botaoTarefa.className = 'activate';
        
        Acervo.className="none"
        Tarefa.className="flex-row"
    }
</script>
{%endblock %}